


<div class="row">
  <div class="col-sm-6">
    <h1>Tags</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_tag_path, class: 'btn btn-primary' do %>
    Add New Tag
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            
      </tr>
    </thead>

    <tbody>
      <% @tags.each do |tag| %>
        <%= content_tag :tr, id: dom_id(tag), class: dom_class(tag) do %>
          
            <td><%= link_to tag.name, tag %></td>
          

          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>