<div data-controller="tags">
  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="list-group list-group-flush">
        <%= render 'tag_form', tag: @tag %>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <h1 class="mt-4">Novo post</h1>
        <%= render 'form', post: @post %>
      </div>
    </div>
    <!-- /#page-content-wrapper -->
  </div>
</div>